@charset "UTF-8";

body {
    
    font-family: '맑은 고딕', 'Malgun Gothic', sans-serif;
  }

/* 실선 구분선 스타일 */
.separator {
    border: 1px solid black;
}

/* 아이콘과 이름 스타일 */
.icon-container {
    text-align: center;
    margin-bottom: 20px;
}

.icon {
    display: inline-block;
    margin: 0 20px;
}

/* 폼 테이블 스타일 */
.form-table {
    margin: 0 auto;
    width: 50%; /* 폼의 너비 조정 */
    border-collapse: collapse;
}



/* 가입취소와 회원가입 버튼 위치 */
.button-container {
    text-align: center;
    margin-top: 20px;
}

/* input 태그 위치 수정 */
td input[type="text"], td input[type="password"], td input[type="tel"], td input[type="email"] {
    width: 20%; /* 너비 조정 */
    background-color: white; /* 배경색 변경 */
    margin: 10px; /* 입력 태그를 테이블 셀 경계에서 살짝 떨어지게 함 */
     border-radius: 5px; /* 테두리 둥글게 */
     border: 1px solid black; /* 테두리 스타일 추가 */
    
}
/* 1열의 너비를 1.5배로 늘리고 */
td.label {
    width: 35%; /* 1열의 너비를 1.5배로 늘림 */
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: right;
    font-weight: bold;
    padding: 10px;
}

/* 2열의 너비를 2.5배로 늘림 */
td input[type="text"], td input[type="password"], td input[type="tel"], td input[type="email"] {
    width: 40%; /* 2열의 너비를 2.5배로 늘림 */
    background-color: rgb(255, 255, 255); /* 배경색을 흰색으로 변경 */
}

/* 중복확인 버튼을 아이디 input태그 바로 옆에 위치하게 함 */
td button {
    margin-left: 10px; /* 왼쪽 여백 추가하여 버튼을 아이디 input태그 옆에 위치하게 함 */
}

.form-table {
    margin: 0 auto;
    width: 30%;
    border-collapse: collapse;
    border-radius: 10px; /* 테두리를 둥글게 설정 */
    overflow: hidden; /* 테두리를 둥글게 설정할 때는 overflow 속성도 함께 사용해야 합니다. */
}



div.context-box{
	padding-top: 80px;
}